{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container-fluid header-container bg-custom-dark pb-5">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
   <div class="container min-vh-100 py-3 mb-2">
        <div class="row justify-content-center mt-5">
            <div class="col-12 text-center">
                <div class="text-black">
                    <div><i class="fas fa-shopping-bag large-icon rotate"></i></div>
                </div>
                <h1 class="font-weight-bold text-black">Shopping bag</h2>
            </div>
            <div class="col-6 my-5">
                <hr class="bg-dark custom-divider">
            </div>
        </div>
<!-- Ref: https://github.com/Harry-Leepz/Nourish-and-Lift/blob/main/bag/templates/bag/bag.html -->
<!-- Used the above layout approach and modified to fit ptoject needs -->
        {% if bag_items %}
            {% for item in bag_items %}
                <div class="row mb-5 justify-content-center">
                    <div class="col-12 col-md-7 col-lg-4 text-center">
                        <div class="img-container p-4">
                            {% if item.course.image %}
                            <img class="img-fluid bg-custom-white border-radius-med"
                                src="{{ item.course.image.url }}" alt=" {{ item.course.name }}">
                            {% else %}
                            <img class="img-fluid bg-custom-white border-radius-med"
                                src="{{ MEDIA_URL }}noimage.png" alt=" {{ item.course.name }}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-7 col-lg-2 pt-4">
                        <p class="my-0"><strong>{{ item.course.name }}</strong></p>
                        <p class="my-0 mt-2"><strong>${{ item.course.price }}</strong></p>
                        <form class="form update-form mt-5" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend custom-input-group-prepend">
                                        <button class="decrement-qty btn btn-sm" data-item_id="{{ item.item_id }}"
                                            id="decrement-qty_{{ item.item_id }}">
                                            <span>
                                                <i class="fas fa-minus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input
                                        class="form-control form-control-sm qty_input text-black text-center rounded-pill"
                                        type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                        data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                    <div class="input-group-append custom-input-group-append">
                                        <button class="increment-qty btn btn-sm" data-item_id="{{ item.item_id }}"
                                            id="increment-qty_{{ item.item_id }}">
                                            <span>
                                                <i class="fas fa-plus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <a class="update-link text-info cursor-pointer">
                            <small>Update</small>
                        </a>
                        <a class="remove-item text-danger cursor-pointer float-right" id="remove_{{ item.item_id }}">
                            <small>Remove</small>
                        </a>
                        <p class="my-0">${{ item.course.price | calc_subtotal:item.quantity }}</p>
                    </div>
                </div>       
            {% endfor %}
            <div class="row justify-content-center">
                <div class="col-12 col-md-7 col-lg-6 text-right">
                    <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                    <h6>Discount: ${{ discount|floatformat:2 }}</h6>
                    <h4 class="mt-4 mb-3"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                    {% if discount_delta > 0 %}
                    <p class="mb-1 text-danger">
                        You could get 10% discount by spending just
                        <strong>${{ discount_delta }}</strong> more!
                    </p>
                    {% endif %}
                    <a href="{% url 'courses' %}" class="btn btn-black bg-white border-black btn-lg rounded-pill mb-3">
                        <span class="icon text-black">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-black">Keep Shopping</span>
                    </a>
                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-pill btn-lg mb-3">
                        <span class="text-white">Secure Checkout</span>
                        <span class="icon text-white">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'courses' %}" class="btn btn-lg btn-black bg-white border-black rounded-pill">
                <span class="icon text-black">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-black">Keep Shopping</span>
            </a>
            <div class="row mt-5">
                <div class="col-12 py-5 my-5">
                    <div class="img-container w-100 text-center">
                        <img class="img-fluid empty-cart-img w-50" src="{{ MEDIA_URL }}empty-cart.svg" alt="Empty Cart">
                    </div>
                </div>
            </div>
        {% endif %}
	</div> 
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'courses/includes/quantity_input_script.html' %}
<script>
	//Update course quantity on update click
	$('.update-link').click(function(e) {
		var form = $(this).prev('.update-form');
		form.submit();
	});

	//Remove course from bag on remove click and reload page
	$('.remove-item').click(function(e) {
		var csrfToken = "{{ csrf_token }}";
		var itemId = $(this).attr('id').split('remove_')[1];
		var url = `/bag/remove/${itemId}/`;
		var data = {'csrfmiddlewaretoken': csrfToken};

		$.post(url, data)
		.done(function() {
			location.reload();
		});
	});
</script>
{% endblock %}