{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid header-container bg-custom-dark pb-5">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid min-vh-100 bg-custom-dark">
    <div class="row justify-content-center mb-5">
        <div class="col-12 text-center py-5">
            <div class="text-white">
                <div><i class="fas fa-heart large-icon"></i></div>
            </div>
            <h1 class="text-white font-weight-bold mb-0">
                Wishlist
            </h1>
        </div>
        <div class="col-8 col-md-5">
            <hr class="bg-white custom-divider">
        </div>
    </div>

    {% for course in wishlist.courses.all %}
        <div class="row justify-content-center px-2 pb-5">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="image-container text-center my-5">
                    {% if course.image %}
                    <a class="p-4" href="{{ course.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid bg-custom-white border-radius-med w-75"
                            src="{{ course.image.url }}" alt=" {{ course.name }}">
                    </a>
                    {% else %}
                    <a class="p-4" href="{{ MEDIA_URL }}noimage.png" target="_blank">
                        <img class="card-img-top img-fluid border-radius-med w-75" src="{{ MEDIA_URL }}noimage.png"
                            alt=" {{ course.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
				<div class="course-detail my-5">
					<h3 class="mb-4 pt-md-5 text-white font-weight-bold"> {{ course.name }}</h3>
					<h4 class="text-white lead mb-2 text-left font-weight-bold">${{ course.price }}</h4>
					{% if course.category %}
					<p class="small">
						<a class="text-white font-weight-bold"
							href="{% url 'courses' %}?category={{ course.category.name }}">
							<i class="fas fa-tag"></i> {{ course.category.friendly_name }}
						</a>
					</p>
					{% endif %}
				</div>
				<!-- Buttons -->
				<div class="text-left">
					<a class="btn btn-black rounded-pill box-shadow mt-3" href="{% url 'course_detail' course.id %}">
                        <span class="icon">
                            <i class="text-white fas fa-chevron-left"></i>
                        </span>
						<span class="text-white">Course Details</span>
					</a>
					<a class="btn btn-black rounded-pill box-shadow mt-3" href="{% url 'remove_from_wishlist' course.id %}">
					    <span class="icon">
					        <i class="text-white fas fa-trash-alt fa-sm"></i>
					    </span>
					    <span class="text-white">Remove from wishlist</span>
					</a>
				</div>
			</div>
        </div>
    {% empty %}
		<div class="row justify-content-center pb-5 px-2">
			<!-- If no wishlist then show this -->
			<div class="text-center mt-3 mb-5">
				<h3 class="font-weight-bolder text-white">
                    The are no courses in your wishlist at the moment.
                </h3>
                <p class="text-white lead">Go ahead and add one now!</p>
				<a class="btn btn-black bg-white rounded-pill border-black mt-5" href="{% url 'courses' %}">
					<span class="icon">
						<i class="text-black fas fa-chevron-left"></i>
					</span>
					<span class="text-uppercase font-weight-bold text-black">Explore Courses</span>
				</a>
			</div>
            <div class="col-12 pb-4 my-5">
                <div class="img-container w-100 text-center">
                    <img class="img-fluid no-results-img w-50" src="{{ MEDIA_URL }}wishlist-img.svg"
                        alt="React">
                </div>
            </div>
		</div>
    {% endfor %}
</div>

{% endblock %}
