* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    font-family: 'Montserrat';
}

/* Reset */

ul {
    margin: 0;
}

/* Custom classes */
.bg-custom-dark {
    background-color: #212529;
}

.bg-custom {
    background-image: linear-gradient(105deg, 
    #536DFE 0%, 
    #536DFE 50%, 
    transparent 50%);
}

.explore-courses-btn {
    background-color: #536DFE;
    color: #fff;
    min-width: 260px;
    border: 2px solid #fff;
    font-size: 1.15rem;
    font-weight: 500;
    box-shadow: -5px 5px 0px #fff;
    transition: all 0.3s ease-in-out;
}

.btn-black {
    background-color: #212529;
    color: #fff !important;
    min-width: 260px;
    font-size: 1.1rem;
    font-weight: 400;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.text-white {
    color: #fff !important;
}

.text-black {
    color: #212529;
}

.text-small {
    font-size: 50%;
}

.border-black {
    border: 1px solid black !important;
}

.border-white {
    border: 1px solid #fff !important;
}

.btn-white {
    background-color: #fff;
    color: black;
}

.custom-input-group-append {
    margin-left: -50px;
}

/* This is a custom class with neagtive margin.
    Used to override the padding of the bootsrtap
    container-fluid class. Allows to have a full width child container. 
*/
.negative-margin {
    margin-left: -15px;
    margin-right: -15px;
}

.skewed {
   transform: skewY(-3deg);
}

.no-skew {
    transform: skewY(3deg);
}

/* Hover effects */

.explore-courses-btn:hover,
.explore-courses-btn:active,
.explore-courses-btn:focus {
    transform: scale(0.98);
    color: #fff;
    box-shadow: -3px 3px 0px #fff;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus,
.social:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}

.large-icon {
    font-size: 2rem;
}

.rotate {
    transform: rotate(20deg);
}

/* Override Bootstrap */

.form-control:focus {
    box-shadow: none;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* Main CSS */

.content {
    transform: translateX(-80px);
    opacity: 0;
    transition: all 0.9s ease-in-out;
}

.content.slide-right {
    transform: translateX(0);
    opacity: 1;
}

.social {
    padding: 8px 18px;
    background-color: #212529;
    border-radius: 14px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.social a i {
    font-size: 1.5rem;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 90px;
    }

    body {
        height: calc(100vh - 90px);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hero-heading {
        font-size: 2rem;
        margin-top: 30px;
    }

    .explore-courses-btn {
        transform: scale(0.9);
    }

    .explore-courses-btn:hover,
    .explore-courses-btn:active,
    .explore-courses-btn:focus {
        transform: scale(0.87);
        color: #fff;
        box-shadow: -3px 3px 0px #fff;
    }

    .backend-info {
        padding-left: 15px;
        padding-right: 15px;
    }

}
