* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    font-family: 'Montserrat';
}

/* Reset */

ul {
    margin: 0;
}

/* Custom classes */
.bg-custom-dark {
    background-color: #212529;
}

.bg-custom-white {
    background-color: #f1f0ff;
}

.bg-custom {
    background-image: linear-gradient(105deg,
            #536DFE 0%,
            #536DFE 50%,
            transparent 50%);
}

.explore-courses-btn {
    background-color: #536DFE;
    color: #fff;
    min-width: 260px;
    border: 2px solid #fff;
    font-size: 1.15rem;
    font-weight: 500;
    box-shadow: -5px 5px 0px #fff;
    transition: all 0.3s ease-in-out;
    animation: popUp 0.9s ease-out;
    animation-delay: 0.8s;
    animation-fill-mode: backwards;
}

.btn-black {
    background-color: #212529;
    color: #fff !important;
    min-width: 260px;
    font-size: 1.1rem;
    font-weight: 400;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.text-white {
    color: #fff !important;
}

.text-black {
    color: #212529;
}

.text-blue {
    color: #536DFE;
}

.text-small {
    font-size: 50%;
}

.border-black {
    border: 1px solid black !important;
}

.border-white {
    border: 1px solid #fff !important;
}

.border-radius-sm {
    border-radius: 10px;
}

.border-radius-med {
    border-radius: 20px;
}

.border-radius-lg {
    border-radius: 30px;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.box-shadow {
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.4),
                 2px 2px 4px rgba(255,255,255, 0.2);
}

.btn-white {
    background-color: #fff;
    color: black;
}

.custom-input-group-append,
.custom-input-group-append-search,
.custom-input-group-append-qty  {
    margin-left: -50px;
}

.custom-input-group-prepend,
.custom-input-group-prepend-qty {
    margin-right: -50px;
}

/* This is a custom class with neagtive margin.
    Used to override the padding of the bootsrtap
    container-fluid class. Allows to have a full width child container. 
*/
.negative-margin {
    margin-left: -15px;
    margin-right: -15px;
}

.skewed {
    transform: skewY(-3deg);
}

.no-skew {
    transform: skewY(3deg);
}

.custom-divider-sm {
    height: 4px;
    border-radius: 50%;
}

.custom-divider {
    height: 7px;
    border-radius: 50%;
}

.large-icon {
    font-size: 2rem;
}

.rotate {
    transform: rotate(20deg);
}

.cursor-pointer {
    cursor: pointer;
}

/* Hover effects */

.explore-courses-btn:hover,
.explore-courses-btn:active,
.explore-courses-btn:focus {
    transform: scale(0.98);
    color: #fff;
    box-shadow: -3px 3px 0px #fff;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus,
.social:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}

.custom-hover:hover {
    color: #536DFE !important;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
    background-color: #536DFE;
}

/* Override Bootstrap */

.form-control:focus {
    box-shadow: none;
}

.input-group-append .btn {
    z-index: 3;
}

.input-group>.form-control:focus {
    z-index: 1;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* Animations */

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-120px);
    }

    80% {
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    60% {
        transform: scale(1.14);
    }

    80% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Main CSS */

.hero-heading {
    animation: moveInRight 1s ease-out;
}

.content {
    transform: translateX(-80px);
    opacity: 0;
    transition: all 0.9s ease-in-out;
}

.content.slide-right {
    transform: translateX(0);
    opacity: 1;
}

.social {
    padding: 8px 18px;
    background-color: #212529;
    border-radius: 14px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.social a i {
    font-size: 1.5rem;
}

.increment-qty:focus,
.decrement-qty:focus {
    box-shadow: none;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.order-summary {
    min-height: 50vh;
}

.order-number {
    overflow-wrap: break-word;
}

input[name="q"]::placeholder {
    color: #aab7c4;
}

#review-form label {
    color: #6c757d; /* same as bootstrap text-muted class */
    font-weight: 600;
}

#review-form .form-control {
    border-radius: 10px;
}


/* remove arrows from input type number */
/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    color: #212529;
}

.allauth-form-inner-content input {
    border-color: #21252960;
    border-radius: 10px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display:none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

/* Code from Boutique Ado */
/* Course Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 4px;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 119px;
    }

    body {
        height: calc(100vh - 119px);
    }
}

@media (max-width: 992px) {
    .custom-input-group-append {
        margin-left: -30px;
    }
    
    .custom-input-group-prepend {
        margin-right: -30px;
    }

    .nav-link {
        padding: 0.6rem;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hero-heading {
        font-size: 2rem;
        margin-top: 30px;
    }

    .explore-courses-btn {
        transform: scale(0.9);
    }

    @keyframes popUp {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        60% {
            transform: scale(1);
        }

        80% {
            transform: scale(0.85);
        }

        100% {
            transform: scale(0.9);
            opacity: 1;
        }
    }

    .explore-courses-btn:hover,
    .explore-courses-btn:active,
    .explore-courses-btn:focus {
        transform: scale(0.87);
        color: #fff;
        box-shadow: -3px 3px 0px #fff;
    }

    .backend-info,
    .order-summary {
        padding-left: 15px;
        padding-right: 15px;
    }

    .no-results-img,
    .empty-cart-img {
        width: 75% !important;
    }

    .dropdown-menu {
        font-size: 0.7rem;
    }

}
