{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="container-fluid h-100 py-5 py-lg-3 mb-5 mb-md-2 mt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-12 text-center">
            <h1 class="font-weight-bold text-black">{% trans "Change Password" %}</h1>
        </div>
        <div class="col-12 my-5">
            <hr class="bg-dark custom-divider">
        </div>
    </div>
    <p>{% trans 'Your password is now changed.' %}</p>
</div>
{% endblock %}