{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
<div class="container-fluid h-100 py-5 py-lg-3 mb-5 mb-md-2 mt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-12 text-center">
            <h1 class="font-weight-bold text-black">{% trans "Password Reset" %}</h1>
        </div>
        <div class="col-12 my-5">
            <hr class="bg-dark custom-divider">
        </div>
    </div>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
    </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-black bg-white text-black border-black rounded-pill mt-3" href="{% url 'account_login' %}">
            <span class="icon">
                <i class="text-black fas fa-chevron-left"></i>
            </span>
            <span class="font-weight-bold text-black">Back to Login</span>
        </a>
        <input class="btn btn-black text-white rounded-pill mt-3" type="submit"
            value="{% trans 'Reset My Password' %}" />
    </form>

    <p class="mt-4">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}