{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}

<div class="container-fluid h-100 py-5 py-lg-3 mb-5 mb-md-2 mt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-12 text-center">
            <h1 class="font-weight-bold text-black">{% trans "Verify Your E-mail Address" %}</h1>
        </div>
        <div class="col-12 my-5">
            <hr class="bg-dark custom-divider">
        </div>
    </div>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup
        process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
</div>
{% endblock %}