{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container bg-custom-dark pb-5">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if course.image %}
                        <a class="text-center pt-4" href="{{ course.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid bg-custom-white border-radius-med py-3 w-75"
                                src="{{ course.image.url }}" alt=" {{ course.name }}">
                        </a>
                    {% else %}
                        <a class="text-center pt-4" href="{{ course.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid bg-custom-white border-radius-med py-3 w-75"
                                src="{{ MEDIA_URL }}noimage.png" alt=" {{ course.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="course-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ course.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">
                        ${{ course.price }}
                    </p>
                    {% if course.category %}
                        <p class="small mt-1 mb-0">
                            <a href="{% url 'courses' %}?category={{ course.category.name }}"
                                class="text-muted text-black">
                                <i class="fas fa-tag mr-1"></i>
                                {{ course.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-10 col-lg-6 offset-lg-3">
                <div class="course-description-container">
                    <h2 class="text-black mt-5">Description</h2>
                    <p class="text-black lead mt-2 text-left mt-5">
                        {{ course.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

