<div class="toast border-radius-med border-top-0" data-autohide='false'>
    <div class="toast-header text-black border-bottom border-success">
        <strong class="mr-auto">Success!</strong>
        <button class="ml-2 mb-1 close text-dark" type="button" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="custom-divider bg-dark my-3">
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
            <p class="logo-font bg-white text-black py-1">
                Your bag ({{ course_count }})
            </p>
            <div class="bag-notification-wrapper">
                {% for item in bag_items %}
                <div class="row">
                    <div class="col-4 my-1">
                        {% if item.course.image %}
                            <img class="bg-custom-white border-radius-sm w-100" src="{{ item.course.image.url }}"
                                alt="{{ item.course.name }}">
                        {% else %}
                            <img class="w-100" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ item.course.name }}">
                        {% endif %}
                    </div>
                    <div class="col-8">
                        <p class="my-0"><strong>{{ item.course.name }}</strong></p>
                        <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <strong>
                        <p class="mt-3 mb-1 text-black">
                        Total{% if discount_delta > 0 %} (Exc. discount){% endif %}: 
                        <span class="float-right">${{ grand_total|floatformat:2 }}</span>
                        </p>
                    </strong>
                    {% if discount_delta > 0 %}
                        <p class="mb-0 p-2 bg-custom-white shadow text-black text-center border-radius-sm">
                            Spend <strong>${{ discount_delta }}</strong> more to get 10% discount!
                        </p>
                    {% endif %}
                    <a href="{% url 'view_bag' %}" class="btn btn-black btn-block rounded-pill mt-2">
                        <span class="text-white">Go To Secure Checkout</span>
                        <span class="icon text-white">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>